* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.navbar {
  width: 80%;
  margin: 20px auto;
}

.navbar ul {
  list-style: none;
  justify-content: center;
}

.navbar ul li {
  display: inline;
  padding: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
}

.pasta {
  background-image: url("/img/cover_products.jpg");
}

.pasta h2 {
  padding: 20px 0px;
  font-style: italic;
  font-family: "Sansita Swashed", cursive;
  font-weight: 400;
  font-size: 35px;
}

.pasta .pasta_list {
  justify-content: space-between;
  flex-wrap: wrap;
}

.pasta .pasta_list img {
  width: 400px;
}

.pasta .pasta_list .overlay_pasta_card {
  position: relative;
}

.pasta .pasta_list .overlay_pasta_card .overlay_icon {
  display: none;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  width: 30px;
}

.pasta .pasta_list .overlay_pasta_card h4 {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pasta .pasta_list .pasta_card:hover .overlay_pasta_card {
  background-color: rgba(238, 238, 238, 0.8);
  transition: 0.5s;
}

.pasta .pasta_list .pasta_card:hover .overlay_icon,
.pasta .pasta_list .pasta_card:hover h4 {
  display: inline;
  opacity: 1;
}

.pasta .pasta_list .pasta_card:hover img {
  opacity: 0;
  transition: 0.5s;
}

